{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": "standard",
  "ignore-path": ["node_modules", "dist"],
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "spread": true
    },
    "sourceType": "module"
  }
}
