{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": "standard",
  "rules": {
    "space-before-function-paren": 0
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "spread": true
    },
    "sourceType": "module"
  }
}
