html, body {
  padding: 0;
  background: #dadada;
}

* {
  font-family: avante;
  color: blackColor;
}

.vertical-align-helper {
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}

h1 {
  font-size: 22px;
}

p {
  font-size: 16px;
}