avante = Avante

@font-face
	font-family Avante
	src: url('../fonts/AAvanteTitlerCpsUpCLight.woff') format('woff'),
		 url('../fonts/AAvanteTitlerCpsUpCLight.woff2') format('woff2')

	font-style normal