avante = Avante

@font-face
	font-family Avante
	src: url('../fonts/AvanteRegular.woff') format('woff')

	font-style normal

@font-face
	font-family Avante
	src: url('../fonts/AvanteRegular.woff2') format('woff2')

	font-style normal