margin-x(value)
  margin-left value
  margin-right value

margin-y(value)
  margin-top value
  margin-bottom value

padding-x(value)
  padding-left value
  padding-right value

padding-y(value)
  padding-top value
  padding-bottom value

size(value)
  height value
  width value