include /helpers/pug/bemto/index
include /blocks/head/head
include /blocks/wrapper/wrapper
include /blocks/container/container
include /blocks/logo/logo
include /blocks/bitbucket-link/bitbucket-link
include /blocks/sticker/sticker
include /blocks/test/test
include /blocks/test/test
include /blocks/menu/menu
