extends /blocks/layouts/default

block content
	h1
		| CATSTRUCT

	p
		| Вce готово для использования, осталось только начать :)

	+sticker(getData('stickers'))

	+public
		+icon-link({
			icon: 'github',
			link: 'https://github.com/lamartire/catstruct'
		})